body {
    background-color: white;
    text-align: center;
}

#heading {
    text-align: center;
}
.start-screen{
    display: block;
}
.game-over {
    display: none;
}

.game-area {
    display: none;
    background-color: lightgrey;
    box-sizing: border-box;
    width: 85%;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 50px;
}



.imageload {
    width: 100%;
    background-color: lightblue;
    border-radius: 50px;
}

.image {
    width: 40%;
    padding: 10px 0;
}

.btn--next {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
}
.retry-button {
    display: none;
}


.score-area {
    display: none;
}

.scores {
    display: inline-block;
    padding: 0 10px;
}