/* Google Font Imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

/* Global CSS */

body {
    font-family: lato, sans-serif;
    background-color: #f4f6f6;
    text-align: center;
}

#heading {
    text-align: center;
}

.btn {
    background-color: #4c6d83;
    color: #fff;
}

.btn:hover {
    background-color: #fff ;
    color: #000;
}

/* Start Screen */

.start-screen{
    display: block;
    background-color: white;
    box-sizing: border-box;
    border: 2px groove;
    width: 85%;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 5px;
}
.start-screen p {
    font-size: 1.3rem;
}

.btn--start {
    padding: 10px;
    font-size: 1.5rem;
    width: 50%;
}

/* Main game area*/

.game-area {
    display: none;
    background-color: white;
    box-sizing: border-box;
    border: 2px groove;
    width: 85%;
    max-height: 550px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 5px;
}

.question-area {
    display: flex;
}

.imageload {
    width: 100%;
    background-color: lightblue;
    border-radius: 50px;
}

.image {
    width: 40%;
    padding: 10px 0;
}

.btn--country{
    font-size: 1.5rem;
    width: 25%;
}
#instructions {
    font-size: 1.3rem;
}
.control-area {
    padding: 20px 0;
}
/* Score area */

.score-area {
    display: inline-block;
}

.scores {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0 10px;
}

/* Gameover screen */

.game-over {
    display: none;
    background-color: white;
    box-sizing: border-box;
    border: 2px groove;
    width: 85%;
    max-height: 500px;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    border-radius: 5px;
}
.game-over p {
    font-size: 1.3rem;
}
.btn--retry {
    padding: 10px;
    font-size: 1.5rem;
    width: 50%;
}