/* Google Font Imported */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Global CSS */

body {
    font-family: lato, sans-serif;
    background-color: #4085f2;
    text-align: center;
}

#logo {
    display: flex;
    justify-content: center;
    line-height: 50px;
    margin: 15px 0;
    color: white;
}

#logo img {
    width: 50px;
    height: 50px;
}

.btn {
    background-color: #4085f2;
    padding: 10px;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Start Screen */

.start-screen {
    display: block;
    background-color: white;
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
}

.start-screen p {
    font-size: 1.3rem;
    padding: 15px;
}

.btn--start {
    font-size: 1.5rem;
    width: 50%;
    margin: 10px;
}

/* Username */

#name {
    background-color: #4085f2;
    padding: 10px;
    color: white;
    border-radius: 25px;
}

/* Changing The placeholder text to white*/

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.btn--save {
    background-color: #4085f2;
    padding: 10px;
    color: white;
    border-radius: 25px;
    box-shadow: none;
}

form label {
    font-weight: bold;
}

#playerInfo {
    padding: 10px;
}

/* Main game area*/

.game-area {
    display: none;
    background-color: white;
    box-sizing: border-box;
    border-radius: 30px;
    width: 60%;
    margin: 0 auto;
}

.imageload {
    width: 100%;
}

.btn--country {
    font-size: 1.5rem;
    width: 25%;
    margin: 0 20px;
}

#instructions {
    font-size: 1.3rem;
    padding: 10px 0;
}

.control-area {
    padding: 20px 0;
}

/* Score area */

.score-area {
    display: inline-block;
}

.scores {
    display: inline-block;
    font-size: 1.3rem;
    padding: 0 10px;
}

/* Gameover screen */

.game-over {
    display: none;
    background-color: white;
    box-sizing: border-box;
    width: 70%;
    margin: 0 auto;
    border-radius: 30px;
}
.game-over p {
    font-size: 1.3rem;
    padding: 15px;
}
#playerName {
    font-weight: bold;
}

#score {
    color: green;
}

#incorrect {
    color: red;
}

.btn--retry {
    font-size: 1.5rem;
    width: 50%;
    margin: 10px;
}

/* Media Queries */

/*Desktop View */

@media screen and (min-width: 1378px){
    .image {
        height: 100%;
    }
}

/*laptop display*/

@media screen and (min-width:900px) {

    .image {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: top;
    }

    .btn:hover {
        background-color: #fff ;
        color: #4085f2;
    }
}

/*Mobile Display*/

@media screen and (max-width:900px) {

    .start-screen {
        width: 100%;
        margin: 0;

    }
    .game-area {
        width: 100%;
        margin: 0;
    }

    .imageload {
        width: 100%;
    }

    .image {
        width: 100%;
    }

    .btn--country {
        width: 50%;
        font-size: 1rem;
        margin: 10px 0;
    }

    .btn:active {
        background-color: #fff ;
        color: #4085f2;
    }

    .control-area {
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
    }

    .game-over {
        width: 100%;
        margin: 0;

    }
}
/*For small mobile displays*/

@media screen and (max-width:400px) {

    #logo {
        font-size: 0.6rem;
    }
}